body {
  background-color: #fff;
  font-family: sans-serif;
}
:root {
  --primary-color: #0066ff;
  /* btn */
  --btn-primary-bg: #0066ff;
  --btn-secondary-bg: #c5c5c5;
  --btn-success-bg: #00cc66;
  --btn-danger-bg: #ff6666;
  --btn-warning-bg: #ffcc00;
  --btn-info-bg: #00cccc;
  --btn-desible-bg: #c0c0c0;
  --btn-primary-focus-bg: #0066ff;
  --card-bg-light: rgb(236, 236, 236);
  /* alert */
  --alert-success-bg: #def2d5;
  --alert-danger-bg: #ebc8c2;
  --alert-warning-bg: #f8f3d6;
  --alert-info-bg: #cce8f4;
  /* alert text color */
  --alert-success-text: #00c853;
  --alert-danger-text: #ff5252;
  --alert-warning-text: #9b9b07;
  --alert-info-text: #4a6e89;
  /* outline text field */
  --outline-text-field-border: #cecece;
  --filled-background-color: #ebf3ff;
}

/* buttons */
.btn {
  margin-top: 12px;
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  width: auto;
  border-radius: 6px;
  text-align: center;
  border: none;
  font-size: 16px;
}
.btn:hover {
  cursor: pointer;
}
.btn.primary {
  background-color: var(--btn-primary-bg);
  color: #fff;
  transition: 0.2s;
}
.btn.secondary {
  background-color: var(--btn-secondary-bg);
}
.btn.success {
  background-color: var(--btn-success-bg);
  color: #fff;
}
.btn.danger {
  background-color: var(--btn-danger-bg);
  color: #fff;
}
.btn.warning {
  background-color: var(--btn-warning-bg);
  color: #000;
}
.btn.info {
  background-color: var(--btn-info-bg);
  color: #000;
}
/* long button */
.btn.long-grid + .long {
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
}
.btn.long {
  width: 100%;
}
/* desible button */
.btn:disabled {
  background-color: var(--btn-desible-bg);
  color: #fff;
}
/* large button */
.btn.large {
  padding: 0.5rem 1rem;
  font-size: 20px;
  border-radius: 6px;
}
/* small button */
.btn.small {
  padding: 0.5rem 0.5rem;
  font-size: 14px;
  border-radius: 6px;
}
/* outline button */
.btn.outline-primary {
  background-color: transparent;
  border: 1px solid var(--btn-primary-bg);
  color: var(--btn-primary-bg);
  transition: 0.2s;
}
.btn.btn.outline-primary:hover {
  background-color: var(--btn-primary-bg);
  color: #fff;
}
.btn.outline-secondary {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: #6c757d;
  transition: 0.2s;
}
.btn.outline-secondary:hover {
  background-color: #6c757d;
  color: #fff;
}
.btn.outline-success {
  background-color: transparent;
  border: 1px solid var(--btn-success-bg);
  color: var(--btn-success-bg);
  transition: 0.2s;
}
.btn.outline-success:hover {
  background-color: var(--btn-success-bg);
  color: #fff;
}
.btn.outline-danger {
  background-color: transparent;
  border: 1px solid var(--btn-danger-bg);
  color: var(--btn-danger-bg);
  transition: 0.2s;
}
.btn.outline-danger:hover {
  background-color: var(--btn-danger-bg);
  color: #fff;
}
.btn.outline-warning {
  background-color: transparent;
  border: 1px solid var(--btn-warning-bg);
  color: var(--btn-warning-bg);
  transition: 0.2s;
}
.btn.outline-warning:hover {
  background-color: var(--btn-warning-bg);
  color: #000;
}
.btn.outline-info {
  background-color: transparent;
  border: 1px solid var(--btn-info-bg);
  color: var(--btn-info-bg);
  transition: 0.2s;
}
.btn.outline-info:hover {
  background-color: var(--btn-info-bg);
  color: #000;
}
/* round button */
.btn.round {
  border-radius: 50%;
}
/* btn-group */
.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group .btn {
  border-radius: 0%;
}
.btn-group .btn:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* vertical button group */
.btnGroup {
  display: inline-block;
  font-size: 0;
}
.btnGroup .btn {
  display: block;
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  width: auto;
  border-radius: 6px;
  text-align: center;
  border: none;
  font-size: 16px;
}
.btnGroup .btn:hover {
  cursor: pointer;
}

/* card with a image and text */
.card {
  background-color: var(--card-bg-light);
  color: var(--card-bg-dark);
  border-radius: 6px;
  padding: 10px;
  width: max-content;
  display: inline-table;
  transition: 0.2s;
}
.card .card-header {
  font-size: 21px;
  margin: 12px 0;
  font-weight: 700;
}
.card:hover {
  box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039),
    0px 0.85px 3px rgba(0, 0, 0, 0.19);
}
.card .card-img {
  display: flex;
  justify-content: center;
  min-width: 20%;
}
.card-img img {
  border-radius: 6px;
  width: 100%;
}
.card-body {
  padding: 0;
  font-size: 16px;
}

/* Alert */
.alert {
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 16px;
  transition: 0.2s;
  padding: 6px 12px;
}
.alert.success {
  background-color: var(--alert-success-bg);
  color: var(--alert-success-text);
  border-left: solid 4px var(--alert-success-text);
}
.alert.success a {
  color: var(--alert-success-text);
  font-weight: 700;
}

.alert.success hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--alert-success-text);
  padding: 0;
}
.alert.danger {
  background-color: var(--alert-danger-bg);
  color: var(--alert-danger-text);
  border-left: solid 4px var(--alert-danger-text);
}
.alert.danger a {
  color: var(--alert-danger-text);
  font-weight: 700;
}
.alert.danger hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--alert-danger-text);
  padding: 0;
}
.alert.warning {
  background-color: var(--alert-warning-bg);
  color: var(--alert-warning-text);
  border-left: solid 4px var(--alert-warning-text);
}
.alert.warning a {
  color: var(--alert-warning-text);
  font-weight: 700;
}
.alert.warning hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--alert-warning-text);
  padding: 0;
}
.alert.info {
  background-color: var(--alert-info-bg);
  color: var(--alert-info-text);
  border-left: solid 4px var(--alert-info-text);
}
.alert.info hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--alert-info-text);
  padding: 0;
}
.alert.info a {
  color: var(--alert-info-text);
  font-weight: 700;
}

/* Outline Text Field */
input[type="text"].outline {
  border: 2px solid var(--outline-text-field-border);
  border-radius: 6px;
  padding: 12px 16px 14px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.1s;
  margin-bottom: 12px;
}
input[type="text"].outline:focus {
  outline: none;
  transition: 0.1s;
  border: 2px solid #0066ff;
}

/* filled input field */
input[type="text"].filled {
  border: none;
  background-color: #c0c0c0;
  border-radius: 6px 6px 0 0;
  padding: 12px 16px 14px;
  font-size: 16px;
  border-bottom: 2px solid #000;
  font-weight: 400;
  transition: 0.1s;
  margin-bottom: 12px;
}
input[type="text"].filled:focus {
  outline: none;
  border-bottom: 2px solid #0066ff;
  background-color: var(--filled-background-color);
  transition: 0.1s;
}

/* textarea */
textarea.filled {
  border: none;
  margin-bottom: 12px;
  background-color: #c0c0c0;
  border-radius: 6px 6px 0 0;
  padding: 12px 16px 14px;
  font-size: 16px;
  border-bottom: 2px solid #000;
  font-weight: 400;
  transition: 0.1s;
}
textarea.filled:focus {
  outline: none;
  border-bottom: 2px solid #0066ff;
  background-color: var(--filled-background-color);
  transition: 0.1s;
}
/* textarea outline */
textarea.outline {
  border: 2px solid var(--outline-text-field-border);
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 12px 16px 14px;
  font-size: 16px;
  font-weight: 400;
}
textarea.outline:focus {
  outline: none;
  border: 2px solid #0066ff;
}
/*Password Outline Text Field */
input[type="password"].outline {
  border: 2px solid var(--outline-text-field-border);
  border-radius: 6px;
  padding: 12px 16px 14px;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 400;
}
input[type="password"].outline:focus {
  outline: none;
  border: 2px solid #0066ff;
}
/*Password filled input field */
input[type="password"].filled {
  border: none;
  margin-bottom: 12px;
  background-color: #c0c0c0;
  border-radius: 6px 6px 0 0;
  padding: 12px 16px 14px;
  font-size: 16px;
  border-bottom: 2px solid #000;
  font-weight: 400;
  transition: 0.1s;
}
input[type="password"].filled:focus {
  outline: none;
  border-bottom: 2px solid #0066ff;
  background-color: var(--filled-background-color);
  transition: 0.1s;
}